services:
  caddy:
    image: caddy:2
    container_name: caddy
    networks: [edge]
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - /srv/ssd/docker/data/caddy/data:/data
      - /srv/ssd/docker/data/config:/config
    restart: unless-stopped

networks:
  edge:
    external: true