services:
  caddy:
    image: caddy:2
    container_name: caddy
    networks:
      - backend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /srv/ssd/docker/data/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - /srv/ssd/docker/data/caddy/data:/data
      - /srv/ssd/docker/data/caddy/config:/config
    restart: unless-stopped

networks:
  backend:
    external: true