services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    user: 1000:1000
    group_add:
      - 992
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    environment:
      - TZ=America/Los_Angeles
      - JELLYFIN_PublishedServerUrl=https://jellyfin.serhii.link
    volumes:
      - /srv/ssd/docker/data/jellyfin/config:/config
      - /srv/ssd/docker/data/jellyfin/cache:/cache
      - /srv/ssd/samba/torrents:/media:ro
    restart: unless-stopped
    networks:
      - backend

networks:
  backend:
    external: true