services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    environment:
      - TZ=America/Los_Angeles
    volumes:
      - /srv/ssd/docker/data/jellyfin/config:/config
      - /srv/ssd/docker/data/jellyfin/cache:/cache
      - /srv/ssd/samba/torrents:/media:ro
    restart: unless-stopped
    networks:
      - backend

networks:
  backend:
    external: true