services:
  vpn:
    image: qmcgaw/gluetun
    container_name: vpn
    ports:
      - "8082:8080"
    cap_add:
      - NET_ADMIN
    volumes:
      - /srv/ssd/docker/qbittorrent/gluetun:/gluetun
      - /srv/ssd/docker/secrets/nordvpn:/gluetun/creds:ro
    environment:
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=openvpn
      - OPENVPN_USER_FILE=/gluetun/creds/user
      - OPENVPN_PASSWORD_FILE=/gluetun/creds/pass
      - SERVER_COUNTRIES=Netherlands
      - FIREWALL_INPUT_PORTS=8080
    restart: unless-stopped
#    networks:
#      - edge

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: "service:vpn"
    depends_on:
      - vpn
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
      - WEBUI_PORT=8080
    volumes:
      - /srv/ssd/docker/qbittorrent/config:/config
      - /srv/ssd/samba/torrents:/downloads
    restart: unless-stopped

#networks:
#  edge:
#    external: true