services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel run
    restart: unless-stopped
    networks:
      - backend
    env_file:
      - /srv/ssd/docker/secrets/cloudflared/auth.env

networks:
  backend:
    external: true